body {
}

.hidden-label {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 0px;
  width: 0px;
  overflow: hidden;
  visibility: hidden;
  }
 .divlogin {
  color: #800080; 
  font-weight: 700; 
  font-size: medium;
  
  }
.login {
    text-align: center; 
    padding-top: 50px; 
    margin-left:33%;
    background-color: #ede9e9; 
    height: 400px; 
    width:35%;
}
.loginfooter {
    background-color:#FFF;
    padding-top:350px;
    height:80px;
    font-size:large;
    color:black;
    text-align:center;
}
.blockSearch {
            margin:0px 250px 0px 300px;
            padding-top:50px;
}
.patient {
            width: 200px;
            height:750px;
            margin-top:45px;
            padding:0;
}
.lblIsNotChecked {
    font-size:large;
    color:red;
}

.assessItem {
    border-color:#ff6a00;
    color:#FFF;
    font-size:medium;
    padding: 15px;
}

