@{
    ViewBag.Title = "Login";
}
<!DOCTYPE html>
<html>
    
<head>
    <title>LoginTest</title>
    <script>
        
    </script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    
</head>

<body>
    <header>
        <h1 style="text-align: center">ISP資訊系統登入畫面</h1>
    </header>

    <div style="text-align:center;padding:75px;background-color:black;opacity:0.7;height:250px">
        <form method="post" action="~/patientSelect/patientSelect">
            <p style="text-align: center; color: white;font-size:medium">
            帳號:
            <input type="text" name="userName" /><br />
            <br />
            密碼:
            <input type="password" name="password" /><br />

        </p>
        
        <p>
            　　<input class="btn btn-default" type="button" value="清除重填" name="btnClear"  />
            <input class="btn btn-default" type="submit" value="確認送出" name="btnSubmit" onsubmit=""/>
        </p>
        </form>

    </div>
     

    <footer style="text-align: center">大寮仁愛之家&copy;</footer>
</body>

</html>


