@{
    ViewBag.Title = "Login";
}
<!DOCTYPE html>
<html>
    
<head>
    <title>LoginTest</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>

<body>

    <div style="background-color:white;height:200px"></div>

    <div>
        <h1 style="text-align: center">ISP資訊系統登入畫面</h1>
    </div>

@using (Html.BeginForm("patientSelect", "Login", FormMethod.Post))
{
    <div style="text-align:center;padding:75px;background-color:#555;height:250px">

        <p style="text-align: center; color: black;font-size:medium">
            帳號:
            @Html.TextBox("loginName", "")<br /><br />

            密碼:
            @Html.TextBox("password", "")<br /><br />

        </p>
        
        <input class="btn btn-default" type="submit" value="確認送出" name="btnSubmit" onsubmit="" />


    </div>


}
    


    @*<div style="text-align:center;padding:75px;background-color:#555;height:250px">
        <form method="post" action="~/Main/main">
            <p style="text-align: center; color: white;font-size:medium">
            帳號:
            <input type="text" name="userName" /><br /><br />
                
            密碼:
            <input type="password" name="password" />

        </p><br />
        
        <p>
            <input class="btn btn-default" type="button" value="清除重填" name="btnClear"  />
            <input class="btn btn-default" type="submit" value="確認送出" name="btnSubmit" onsubmit=""/>
        </p>
        </form>

    </div>*@
     

    <footer>
        <div class="text-center" style="background-color:#FFF;height:80px;font-size:large;color:black">
            <br />
            <p>Trafalgar Law &nbsp;&copy;&nbsp;tel:123456789&nbsp;address:Dressrosa</p>
        </div>
    </footer>
</body>

</html>


