@{
    ViewBag.Title = "patientSelect";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        #right_nav{
        width:263px;height:auto;padding:20px 0 0 20px; float:left;
        }
        #right_nav ul{
        list-style:none;margin: auto;display:block; padding:0px;
        }
        #right_nav ul li{
        list-style:none;display:block;width:auto;height:auto;padding:0px;line-height:29px;
        }
        #right_nav ul li a{
        height:29px;display:block; width:226px;text-decoration:none;padding:0 0 0 35px; margin:7px 0 7px 0;color:#6968ed;background:url(../../pics) no-repeat center;
        background-position:0px 0px;
        }
        #right_nav ul li a:hover{
        height:29px;display:block;width:226px;text-decoration:none;color: #d4f0ba;padding:0 0 0 35px;margin:7px 0 7px 0; background:url(images/right_nav_a.gif) no-repeat center;
        background-position:0px 0px;
        }
        #right_nav ul li a.current{
        height:29px;display:block;width:226px;text-decoration:none;padding:0px;color: #d4f0ba;padding:0 0 0 35px;margin:7px 0 7px 0; 
        background:url(pics/line1.png) no-repeat center;
        background-position:0px 0px;
        }
        #button1 {
        width:263px;height:auto;padding:20px 0 0 20px; float:left;
        }

        

    </style>
    <title>patientSelect</title>
    <link rel="stylesheet" type="text/css" href="~/anythingSlider1.9.2/css/anythingslider.css" />
    <link rel="stylesheet" href="~/anythingSlider1.9.2/css/theme-metallic.css">
    <link rel="stylesheet" href="~/anythingSlider1.9.2/css/theme-cs-portfolio.css">

    <style type="text/css">    
       #slider {  width: 900px;  height: 150px; }   /* 覆寫原始CSS*/  
    </style>

    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="../css/ui_dark/jquery-ui.css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="~/AnythingSlider1.9.2/js/jquery.anythingslider.min.js"></script>    
    <script type="text/javascript">

        $(function () {
            $("#right_nav").accordion();

            $("#slider").anythingSlider({ theme: 'cs-portfolio', autoPlay: true, buildArrows: false, buildNavigation: false, buildStartStop: false });
        })
    </script>
</head>

<body style="background-color:darkgray">
    <header style="text-align: left;padding:30px 0 0 30px">
        <p style="font-size: xx-large; font-family:Consolas;font-weight:600 ;color: navy">
            ISP資訊系統
        </p>
    </header>
    
    <footer style="text-align: center">大寮仁愛之家&copy;</footer>
</body>

</html>
