@{
    ViewBag.Title = "patientSelect";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        #right_nav{
        width:263px;height:auto;padding:20px 0 0 20px; float:left;
        }
        #right_nav ul{
        list-style:none;margin: auto;display:block; padding:0px;
        }
        #right_nav ul li{
        list-style:none;display:block;width:auto;height:auto;padding:0px;line-height:29px;
        }
        #right_nav ul li a{
        height:29px;display:block; width:226px;text-decoration:none;padding:0 0 0 35px; margin:7px 0 7px 0;color:#6968ed;background:url(../../pics) no-repeat center;
        background-position:0px 0px;
        }
        #right_nav ul li a:hover{
        height:29px;display:block;width:226px;text-decoration:none;color: #d4f0ba;padding:0 0 0 35px;margin:7px 0 7px 0; background:url(images/right_nav_a.gif) no-repeat center;
        background-position:0px 0px;
        }
        #right_nav ul li a.current{
        height:29px;display:block;width:226px;text-decoration:none;padding:0px;color: #d4f0ba;padding:0 0 0 35px;margin:7px 0 7px 0; 
        background:url(pics/line1.png) no-repeat center;
        background-position:0px 0px;
        }
        #button1 {
        width:263px;height:auto;padding:20px 0 0 20px; float:left;
        }

        

    </style>
    <title>patientSelect</title>
    @*<link rel="stylesheet" type="text/css" href="~/anythingSlider1.9.2/css/anythingslider.css" />
    <link rel="stylesheet" href="~/anythingSlider1.9.2/css/theme-metallic.css">
    <link rel="stylesheet" href="~/anythingSlider1.9.2/css/theme-cs-portfolio.css">*@

    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="../css/ui_dark/jquery-ui.css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#right_nav").accordion();

            $("#slider").anythingSlider({ theme: 'cs-portfolio', autoPlay: true, buildArrows: false, buildNavigation: false, buildStartStop: false });
        })
    </script>
</head>

<body style="background-color:darkgray">
    <header style="text-align: left;padding:30px 0 0 30px">
        <p style="font-size: xx-large; font-family:Consolas;font-weight:600 ;color: navy">
            ISP資訊系統
        </p>
    </header>
    <div>
        <table>
            <tr>
                <td>
                    <div style="width:280px;height:auto;padding:30px; float:right;background-color:orange;opacity:0.6">
                        <p style="color:black;font-weight:900">
                            請選擇輸入病患姓名或是編號:<br /><br />
                            <input class="btn btn-default" style="font-size: 14px" type="button" name="btnPatientName" value="病患姓名" />
                            <input class="btn btn-default" style="font-size: 14px" type="button" name="btnPatientNumber" value="病患編號" />
                        </p>

                    </div>
                </td>
                <td></td>
                <td>
                    <div id="slider">
                        <div style="width:auto;height:150px;float:right;" >
                            <img src="~/pics/ocean.jpg" style="width:900px;height:150px"/>
                        </div>
                        @*<div><a href="#"><img src="~/pics/line1.png" style="width:900px;height:150px"></a></div>*@
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="right_nav" style="width: 300px;height:500px">
                        <p>評估表</p>
                        <ul>
                            <li><a href="#">觀看病患評估表</a></li>
                            <li><a href="#">新增病患評估表</a></li>
                            <li><a href="#">刪除病患評估表</a></li>
                            <li><a href="#">修改病患評估表</a></li>
                        </ul>
                        <p>ISP</p>
                        <ul>
                            <li><a href="#">觀看ISP</a></li>
                            <li><a href="#">新增ISP</a></li>
                            <li><a href="#">刪除ISP</a></li>
                            <li><a href="#">修改ISP</a></li>
                        </ul>
                    </div>
                </td>
                <td><span style="width:30px;background-color:darkgray">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                <td>
                    <div style="background-color:white;height:450px;vertical-align:top;padding:20px">
                        <br />
                        <p style="text-align:center">問卷名:
                            <input type="text" name="qName"/>
                        </p><br />
                        <p style="">
                            <table>
                                <tr>
                                    <td>問題一:</td>
                                    <td><input type="text" name="qOne" /><br />
                                        <br /></td>
                                </tr>
                                <tr>
                                    <td>類型:</td>
                                    <td><input type="text" name="qType" /><br /><br /></td>
                                </tr>
                                <tr>
                                    <td>權限:</td>
                                    <td><input type="text" name="qAuthorize" /><br /><br /></td>
                                </tr>
                                <tr>
                                    <td>選項:</td>
                                    <td><input type="text" name="qOption" /><br /><br /></td>
                                </tr>
                                <tr>
                                    <td><input type="submit" value="確定" /><br /><br /></td>
                                </tr>
                            </table>
                        </p>

                    </div>
                </td>
            </tr>
        </table>
    </div>
    <footer style="text-align: center">大寮仁愛之家&copy;</footer>
</body>

</html>
